@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Rubik:wght@300;400;500;600;700&family=Satisfy&display=swap");
.text-primary {
  color: #333;
}

.bg-primary {
  background-color: #333;
}

.border-primary {
  border: 1px solid #333;
}

.text-error {
  color: #e30613;
}

.bg-error {
  background-color: #e30613;
}

.border-error {
  border: 1px solid #e30613;
}

.text-info {
  color: cyan;
}

.bg-info {
  background-color: cyan;
}

.border-info {
  border: 1px solid cyan;
}

.text-blue {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.border-blue {
  border: 1px solid #1919e6;
}

.text-red {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.border-red {
  border: 1px solid #e61919;
}

.text-yellow {
  color: #e6e619;
}

.bg-yellow {
  background-color: #e6e619;
}

.border-yellow {
  border: 1px solid #e6e619;
}

.text-green {
  color: #19e635;
}

.bg-green {
  background-color: #19e635;
}

.border-green {
  border: 1px solid #19e635;
}

.text-orange {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.border-orange {
  border: 1px solid #ffa600;
}

.text-purple {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.border-purple {
  border: 1px solid #9900ff;
}

.text-grey {
  color: #808080;
}

.bg-grey {
  background-color: #808080;
}

.border-grey {
  border: 1px solid #808080;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.border-black {
  border: 1px solid black;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.border-white {
  border: 1px solid white;
}

.text-light-green {
  color: #9ebb05;
}

.bg-light-green {
  background-color: #9ebb05;
}

.border-light-green {
  border: 1px solid #9ebb05;
}

.text-primary-btn {
  color: #ffc423;
}

.bg-primary-btn {
  background-color: #ffc423;
}

.border-primary-btn {
  border: 1px solid #ffc423;
}

.text-white-smkoe {
  color: #f6f6f6;
}

.bg-white-smkoe {
  background-color: #f6f6f6;
}

.border-white-smkoe {
  border: 1px solid #f6f6f6;
}

.text-light-grey {
  color: #757575;
}

.bg-light-grey {
  background-color: #757575;
}

.border-light-grey {
  border: 1px solid #757575;
}

.text-secondary-btn {
  color: #ececec;
}

.bg-secondary-btn {
  background-color: #ececec;
}

.border-secondary-btn {
  border: 1px solid #ececec;
}

.border-round {
  border-radius: 10px;
}

.main-title {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
}
.main-title span {
  padding: 10px 25px 10px 0;
  border-bottom: 3px solid #e30613;
}

body {
  background-color: #f5f5f5;
  font-family: "Rubik", sans-serif;
  color: #333;
  margin: 0;
}
body .txt-lg {
  font-size: 24px;
}
body .txt-sm {
  font-size: 14px;
}
body .txt-xs-sm {
  font-size: 12px;
}
body .icon {
  margin-right: 5px;
}
body .header-file {
  width: 100%;
}
body .txt-bold {
  font-weight: 500;
}
body .btn {
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
body .btn .fa {
  padding-right: 11px;
}
body .buy-btn {
  background-color: #fb641b;
}
body .container {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1215686275);
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  margin: 24px;
}
body .container .checkout-container {
  background-color: white;
}
body .container .checkout-container .checkout-steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 40px;
}
body .container .checkout-container .checkout-steps button {
  padding-block: 20px;
}
body .container .checkout-container .del-label {
  font-size: 24px;
  margin: 39px 0 18px 0;
  font-weight: 500;
}
body .container .checkout-container .del-link {
  margin-top: 40px;
}
body .container .checkout-container .address-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
}
body .container .checkout-container .address-options .address {
  border-right: 1px solid #e2e2e2;
  padding-right: 40px;
}
body .container .checkout-container .address-options input {
  margin-bottom: 13px;
}
body .container .checkout-container .address-options button {
  width: 100%;
  margin: 17px 0 30px 0;
  padding-block: 10px;
}
body .container .checkout-container .add-new-add-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 28px;
}
body .container .checkout-container .add-new-add-form input {
  padding: 13px 0 13px 25px;
  border: 1px solid #e2e2e2;
}
body .container .checkout-container .btn-grp {
  display: flex;
  gap: 24px;
  justify-content: end;
}
body .container .checkout-container .btn-grp button {
  padding: 10px 80px;
}

.footer {
  background-color: #404040;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1.7fr 4fr;
  height: 370px;
  font-size: 14px;
  font-weight: 300;
}
.footer a {
  text-decoration: none;
}
.footer .footer-left {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #313131;
}
.footer .footer-left .bay-logo {
  max-width: 129px;
  max-height: 76px;
}
.footer .footer-left .footer-left-section {
  width: 390px;
}
.footer .footer-left .footer-left-section .footer-txt {
  margin: 25px 0;
}
.footer .footer-left .footer-left-section .subscribe {
  height: 50px;
  display: flex;
  margin-bottom: 25px;
}
.footer .footer-left .footer-left-section .subscribe .sub-input {
  flex: 3;
  padding: 15px;
}
.footer .footer-left .footer-left-section .subscribe .sub-button {
  flex: 1;
  background-color: #ffc423;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #404040;
  font-size: 14px;
}
.footer .footer-left .footer-left-section .download-app {
  display: flex;
  justify-content: space-between;
  height: 41px;
}
.footer .footer-left .footer-left-section .download-app img {
  max-width: 129px;
  max-height: 41px;
}
.footer .footer-right {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
  padding: 42px 15px;
}
.footer .footer-right .footer-section {
  display: flex;
  flex-direction: column;
}
.footer .footer-right .footer-section .footer-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 21px 0 52px 0;
}
.footer .footer-right .footer-section .contact-details .fa {
  color: #ffc423;
}
.footer .footer-right .follow-us-section .social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.footer .footer-right .follow-us-section .social-icons .fa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  text-align: center;
  background-color: #ffc423;
  color: #000000;
}
.footer .footer-right .payment {
  margin-top: 87px;
}
.footer .footer-right .payment button {
  background-color: #ffc423;
  border-radius: 5px;
  border: none;
  padding: 13px 6px;
  width: 148px;
}
.footer .footer-right .payment button a {
  color: black;
}
.footer .footer-right .payment .installment {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: white;
  }
  body .container {
    margin-inline: 100px;
    margin-bottom: 65px;
    background-color: white;
    padding: 40px 30px 50px 30px;
  }
}