@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Rubik:wght@300;400;500;600;700&family=Satisfy&display=swap");
.text-primary {
  color: #333;
}

.bg-primary {
  background-color: #333;
}

.border-primary {
  border: 1px solid #333;
}

.text-error {
  color: #e30613;
}

.bg-error {
  background-color: #e30613;
}

.border-error {
  border: 1px solid #e30613;
}

.text-info {
  color: cyan;
}

.bg-info {
  background-color: cyan;
}

.border-info {
  border: 1px solid cyan;
}

.text-blue {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.border-blue {
  border: 1px solid #1919e6;
}

.text-red {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.border-red {
  border: 1px solid #e61919;
}

.text-yellow {
  color: #e6e619;
}

.bg-yellow {
  background-color: #e6e619;
}

.border-yellow {
  border: 1px solid #e6e619;
}

.text-green {
  color: #19e635;
}

.bg-green {
  background-color: #19e635;
}

.border-green {
  border: 1px solid #19e635;
}

.text-orange {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.border-orange {
  border: 1px solid #ffa600;
}

.text-purple {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.border-purple {
  border: 1px solid #9900ff;
}

.text-grey {
  color: #808080;
}

.bg-grey {
  background-color: #808080;
}

.border-grey {
  border: 1px solid #808080;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.border-black {
  border: 1px solid black;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.border-white {
  border: 1px solid white;
}

.text-light-green {
  color: #9ebb05;
}

.bg-light-green {
  background-color: #9ebb05;
}

.border-light-green {
  border: 1px solid #9ebb05;
}

.text-primary-btn {
  color: #ffc423;
}

.bg-primary-btn {
  background-color: #ffc423;
}

.border-primary-btn {
  border: 1px solid #ffc423;
}

.text-white-smkoe {
  color: #f6f6f6;
}

.bg-white-smkoe {
  background-color: #f6f6f6;
}

.border-white-smkoe {
  border: 1px solid #f6f6f6;
}

.text-light-grey {
  color: #757575;
}

.bg-light-grey {
  background-color: #757575;
}

.border-light-grey {
  border: 1px solid #757575;
}

.text-secondary-btn {
  color: #ececec;
}

.bg-secondary-btn {
  background-color: #ececec;
}

.border-secondary-btn {
  border: 1px solid #ececec;
}

body {
  background-color: #f5f5f5;
  font-family: "Rubik", sans-serif;
  color: #333;
  margin: 0;
}
body .txt-lg {
  font-size: 24px;
}
body .txt-sm {
  font-size: 14px;
}
body .txt-xs-sm {
  font-size: 12px;
}
body .icon {
  margin-right: 5px;
}
body .header-file {
  width: 100%;
}
body .txt-bold {
  font-weight: 500;
}
body .primary-btn {
  width: 198px;
  height: 46px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #ff9f00;
}
body .primary-btn .fa {
  padding-right: 11px;
}
body .buy-btn {
  background-color: #fb641b;
}
body .home {
  display: grid;
  grid-template-rows: 80px 40px;
}
body .home .fa-angle-right {
  margin-left: 10px;
}
body .home .header {
  display: flex;
  align-items: center;
  color: white;
  background-color: #e30613;
  padding-inline: 15px;
  height: 80px;
}
body .home .header .best-logo {
  flex: 2;
}
body .home .header .search {
  display: none;
}
body .home .header .right-header {
  flex: 1;
  display: flex;
  justify-content: space-around;
}
body .home .header .small-txt {
  font-size: 12px;
}
body .home .sub-header {
  display: flex;
  font-size: 14px;
  height: 40px;
  align-items: center;
  text-align: center;
  background-color: white;
  justify-content: space-between;
}
body .home .sub-header a {
  text-decoration: none;
}
body .home .sub-header .all-cat {
  text-align: center;
  margin-left: 15px;
  background-color: #ffc423;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
}
body .home .sub-header .all-cat .all-cat-txt {
  display: none;
}
body .home .sub-header .menubar {
  display: none;
}
body .home .sub-header .my-cart {
  display: flex;
  gap: 5px;
  height: 100%;
  width: 111px;
  margin-left: 2rem;
  background-color: #ffc423;
  justify-content: center;
  align-items: center;
}
body .home .sub-header .my-cart .cart-txt {
  font-size: 12px;
}
body .home .sub-header .my-cart .cart-txt .my-cart-txt {
  display: none;
}
body .home .sub-header .my-cart .item-card {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
body .home .sub-header .my-cart .item-card img {
  height: 70px;
  width: 70px;
}
body .home .sub-header .my-cart .cart-count {
  font-size: 12px;
}
body .home .navigation {
  color: #757575;
  padding-left: 15px;
  font-size: 12px;
  text-align: center;
  align-items: center;
  display: flex;
  height: 40px;
  background-color: #e8e8e8;
  gap: 10px;
}
body .home .navigation a {
  text-decoration: none;
  color: #757575;
}
body .home .navigation .gas-cooker {
  color: #000000;
}
body .container {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1215686275);
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  margin: 24px;
}
body .container .gift-container {
  background-color: white;
  border-bottom: 1px solid #e2e2e2;
}
body .container .gift-container .gift-card .sold-by {
  padding-block: 12px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e2e2e2;
}
body .container .gift-container .gift-card .sold-by .rating {
  display: flex;
  flex-direction: row;
  gap: 1px;
  font-size: 14px;
  color: #b9b9b9;
}
body .container .gift-container .gift-card .sold-by .rating img {
  width: 20px;
  height: 19px;
}
body .container .gift-container .gift-card .select-label {
  font-size: 18px;
  font-weight: 500;
  margin: 14.5px 0 7.5px 0;
}
body .container .gift-container .gift-card .gift-card-options {
  padding: 14.5px 0 30px 0;
  border-bottom: 1px solid #e2e2e2;
}
body .container .gift-container .gift-card .gift-card-options img {
  height: 95px;
  width: 181px;
  margin: 5px;
}
body .container .gift-container .gift-card .gift-card-details {
  padding: 30px 0;
}
body .container .gift-container .gift-card .gift-card-details td {
  padding-top: 10px;
  padding-bottom: 20px;
}
body .container .gift-container .gift-card .gift-card-details td .amount-option {
  padding: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
}
body .container .gift-container .gift-card .gift-card-details .form-label {
  padding-right: 30px;
}
body .container .gift-container .gift-card .gift-card-details input,
body .container .gift-container .gift-card .gift-card-details textarea {
  width: 100%;
  border: 1px solid #b8b8b8;
  padding: 15px 0 13px 19px;
  border-radius: 5px;
}
body .container .more-details {
  padding: 15px;
}
body .container .more-details ul {
  list-style-type: "- ";
}
body .container .more-details ul li {
  margin: 5px 0;
}

.footer {
  background-color: #404040;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1.7fr 4fr;
  height: 370px;
  font-size: 14px;
  font-weight: 300;
}
.footer a {
  text-decoration: none;
}
.footer .footer-left {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #313131;
}
.footer .footer-left .bay-logo {
  max-width: 129px;
  max-height: 76px;
}
.footer .footer-left .footer-left-section {
  width: 390px;
}
.footer .footer-left .footer-left-section .footer-txt {
  margin: 25px 0;
}
.footer .footer-left .footer-left-section .subscribe {
  height: 50px;
  display: flex;
  margin-bottom: 25px;
}
.footer .footer-left .footer-left-section .subscribe .sub-input {
  flex: 3;
  padding: 15px;
}
.footer .footer-left .footer-left-section .subscribe .sub-button {
  flex: 1;
  background-color: #ffc423;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #404040;
  font-size: 14px;
}
.footer .footer-left .footer-left-section .download-app {
  display: flex;
  justify-content: space-between;
  height: 41px;
}
.footer .footer-left .footer-left-section .download-app img {
  max-width: 129px;
  max-height: 41px;
}
.footer .footer-right {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
  padding: 42px 15px;
}
.footer .footer-right .footer-section {
  display: flex;
  flex-direction: column;
}
.footer .footer-right .footer-section .footer-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 21px 0 52px 0;
}
.footer .footer-right .footer-section .contact-details .fa {
  color: #ffc423;
}
.footer .footer-right .follow-us-section .social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.footer .footer-right .follow-us-section .social-icons .fa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  text-align: center;
  background-color: #ffc423;
  color: #000000;
}
.footer .footer-right .payment {
  margin-top: 87px;
}
.footer .footer-right .payment button {
  background-color: #ffc423;
  border-radius: 5px;
  border: none;
  padding: 13px 6px;
  width: 148px;
}
.footer .footer-right .payment button a {
  color: black;
}
.footer .footer-right .payment .installment {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: white;
  }
  body .home {
    display: grid;
    grid-template-rows: 80px 40px;
  }
  body .home .header {
    padding-inline: 100px;
  }
  body .home .header .search {
    display: flex;
    flex: 5;
    height: 40px;
  }
  body .home .header .search .searchbar {
    flex: 1;
    padding: 8px;
    border: none;
  }
  body .home .header .search .search-icon {
    width: 45px;
    background-color: #ffc423;
    text-align: center;
    margin: auto;
    height: 40px;
  }
  body .home .header .search .search-icon i {
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 25%;
  }
  body .home .header .right-header {
    flex: 2;
    display: flex;
    justify-content: space-around;
  }
  body .home .sub-header {
    background-color: #000000;
    padding-inline: 100px;
  }
  body .home .sub-header .menubar {
    display: flex;
    list-style-type: none;
    flex: 8;
    gap: 5px;
  }
  body .home .sub-header .menubar li a {
    text-decoration: none;
    color: white;
  }
  body .home .sub-header .all-cat {
    flex: 1;
    text-align: center;
    margin-left: 0;
    background-color: #ffc423;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .home .sub-header .all-cat .all-cat-txt {
    display: block;
    font-weight: 500;
  }
  body .home .sub-header .my-cart .cart-txt .my-cart-txt {
    display: block;
    font-weight: 500;
  }
  body .container {
    margin-inline: 100px;
    margin-bottom: 65px;
    background-color: white;
    padding: 30px 30px 258px 30px;
  }
  body .container .gift-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 116px;
  }
  body .container .gift-container .gift-card .gift-title {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
  }
  body .container .gift-container .gift-card .gift-title span {
    padding: 10px 25px 10px 0;
    border-bottom: 3px solid #e30613;
  }
}