@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Rubik:wght@300;400;500;600;700&family=Satisfy&display=swap");

//Font-size
$txt-xs-sm: 12px;
$txt-sm: 14px;
$txt-m: 20px;
$txt-lg: 24px;
$txt-x-lg: 32px;
$txt-2x-lg: 36px;
$txt-3x-lg: 40px;
