$primary-color: #333;
$primary-bg-color: #f1f3f6;
$red: #e30613;
$dark-red: #c2000b;
$crimson: #fc4852;

$yellow: #ffc423;
$dark-yellow: #e9b119;
$light-yellow: #ffd35d;

$black: #000000;
$dark-grey: #404040;
$grey: #757575;
$light-grey: #b7b7b7;
$titanium-white: #e2e2e2;
$white-smkoe: #f6f6f6;
$white: #ffffff;
