@import "./base";
@import "./colors";
@import "./variables";
body {
  background-color: #f5f5f5;
  font-family: "Rubik", sans-serif;
  color: #333;
  margin: 0;

  .txt-lg {
    font-size: $txt-lg;
  }
  .txt-sm {
    font-size: $txt-sm;
  }

  .txt-xs-sm {
    font-size: $txt-xs-sm;
  }

  .icon {
    margin-right: 5px;
  }

  .header-file {
    width: 100%;
  }
  .txt-bold {
    font-weight: 500;
  }
  .btn {
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

    .fa {
      padding-right: 11px;
    }
  }
  .buy-btn {
    background-color: #fb641b;
  }
  .container {
    box-shadow: 0px 2px 5px #0000001f;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    margin: 24px;

    .checkout-container {
      background-color: #ffff;
      //border-bottom: 1px solid #e2e2e2;

      .checkout-steps {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-bottom: 40px;

        button {
          padding-block: 20px;
        }
      }
      .del-label {
        font-size: $txt-lg;
        margin: 39px 0 18px 0;
        font-weight: 500;
      }
      .del-link {
        margin-top: 40px;
      }
      .address-options {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        margin-top: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e2e2e2;

        .address {
          border-right: 1px solid #e2e2e2;
          padding-right: 40px;
        }

        input {
          margin-bottom: 13px;
        }
        button {
          width: 100%;
          margin: 17px 0 30px 0;
          padding-block: 10px;
        }
      }
      .add-new-add-form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        margin-bottom: 28px;

        input {
          padding: 13px 0 13px 25px;
          border: 1px solid #e2e2e2;
        }
        // .placeholder {
        //   color: #e2e2e2;
        //   position: relative;
        //   top: 14px;
        // }

        // .placeholder:after {
        //   content: "*";
        //   color: red;
        // }

        // .form-control:focus + .placeholder {
        //   display: none;
        // }
      }
      .btn-grp {
        display: flex;
        gap: 24px;
        justify-content: end;
        button {
          padding: 10px 80px;
        }
      }
    }
  }
}
.footer {
  background-color: $dark-grey;
  color: $white;
  display: grid;
  grid-template-columns: 1.7fr 4fr;
  height: 370px;
  font-size: $txt-sm;
  font-weight: 300;

  a {
    text-decoration: none;
  }

  .footer-left {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #313131;

    .bay-logo {
      max-width: 129px;
      max-height: 76px;
    }

    .footer-left-section {
      width: 390px;

      .footer-txt {
        margin: 25px 0;
      }

      .subscribe {
        height: 50px;
        display: flex;
        margin-bottom: 25px;

        .sub-input {
          flex: 3;
          padding: 15px;
        }

        .sub-button {
          flex: 1;
          background-color: $yellow;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $dark-grey;
          font-size: $txt-sm;
        }
      }
      .download-app {
        display: flex;
        justify-content: space-between;
        height: 41px;

        img {
          max-width: 129px;
          max-height: 41px;
        }
      }
    }
  }
  .footer-right {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
    padding: 42px 15px;

    .footer-section {
      display: flex;
      flex-direction: column;

      .footer-details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 21px 0 52px 0;
      }
      .contact-details {
        .fa {
          color: $yellow;
        }
      }
    }
    .follow-us-section {
      .social-icons {
        display: flex;
        gap: 15px;
        margin-top: 15px;

        .fa {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 45px;
          width: 45px;
          text-align: center;
          background-color: #ffc423;
          color: #000000;
        }
      }
    }
    .payment {
      margin-top: 87px;

      button {
        background-color: $yellow;
        border-radius: 5px;
        border: none;
        padding: 13px 6px;
        width: 148px;

        a {
          color: black;
        }
      }
      .installment {
        margin-bottom: 10px;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  body {
    background-color: #ffff;

    .container {
      margin-inline: 100px;
      margin-bottom: 65px;
      background-color: #ffff;
      padding: 40px 30px 50px 30px;
    }
  }
}
