@import "./base";
@import "./colors";
body {
  background-color: #f5f5f5;
  font-family: "Rubik", sans-serif;
  color: #333;
  margin: 0;

  .txt-lg {
    font-size: $txt-lg;
  }
  .txt-sm {
    font-size: $txt-sm;
  }

  .txt-xs-sm {
    font-size: $txt-xs-sm;
  }

  .icon {
    margin-right: 5px;
  }

  .header-file {
    width: 100%;
  }
  .txt-bold {
    font-weight: 500;
  }

  .container {
    //padding: 20px;
    margin: 24px;
    box-shadow: 0px 2px 5px #0000001f;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    background-color: #ffff;

    .prod-title {
      border-bottom: 1px solid #e2e2e2;
      padding-bottom: 10px;
      font-weight: 500;
      font-size: 30px;

      span {
        padding: 10px 25px 10px 0;
        border-bottom: 3px solid #e30613;
      }
    }
    .compare-table {
      width: 100%;
      padding: 15px 0 22px;

      // tr:nth-child(even) {
      //   background-color: #dddddd;
      // }

      .table-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        padding: 13px 0 13px 28px;

        td {
          position: relative;
          display: flex;
          align-items: center;

          .close-btn {
            width: 23.25px;
            height: 23.25px;
            position: absolute;
            right: 0;
            cursor: pointer;
          }

          .prod-img {
            width: 220px;
            height: 170.44px;
          }
          .prod-title {
            font-size: 18px;
          }
          .rating {
            display: flex;
            flex-direction: row;
            gap: 1px;
            margin-top: 10px;
            font-size: $txt-sm;
            color: #b9b9b9;
            margin-bottom: 23px;
            img {
              width: 20px;
              height: 19px;
            }
          }
        }
        .stock {
          font-size: $txt-xs-sm;

          .in-stock {
            margin-right: 7.8px;
            padding: 3px 19px 2px;
            border-radius: 15px;
          }
        }
      }
      .prod-price {
        td {
          font-size: $txt-m;
          font-weight: 500;
        }
      }

      .add-cart {
        td {
          button {
            width: 245px;
            padding: 19px 49px;
            font-size: $txt-m;
            border-radius: 5px;
            border: transparent;

            .fa {
              margin-right: 13px;
            }
          }
        }
      }
    }
  }
  .footer {
    background-color: $dark-grey;
    color: $white;
    display: grid;
    grid-template-columns: 1.7fr 4fr;
    height: 370px;
    font-size: $txt-sm;
    font-weight: 300;

    a {
      text-decoration: none;
    }

    .footer-left {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #313131;

      .bay-logo {
        max-width: 129px;
        max-height: 76px;
      }

      .footer-left-section {
        width: 390px;

        .footer-txt {
          margin: 25px 0;
        }

        .subscribe {
          height: 50px;
          display: flex;
          margin-bottom: 25px;

          .sub-input {
            flex: 3;
            padding: 15px;
          }

          .sub-button {
            flex: 1;
            background-color: $yellow;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $dark-grey;
            font-size: $txt-sm;
          }
        }
        .download-app {
          display: flex;
          justify-content: space-between;
          height: 41px;

          img {
            max-width: 129px;
            max-height: 41px;
          }
        }
      }
    }
    .footer-right {
      display: grid;
      grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
      padding: 42px 15px;

      .footer-section {
        display: flex;
        flex-direction: column;

        .footer-details {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin: 21px 0 52px 0;
        }
        .contact-details {
          .fa {
            color: $yellow;
          }
        }
      }
      .follow-us-section {
        .social-icons {
          display: flex;
          gap: 15px;
          margin-top: 15px;

          .fa {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;
            width: 45px;
            text-align: center;
            background-color: #ffc423;
            color: #000000;
          }
        }
      }
      .payment {
        margin-top: 87px;

        button {
          background-color: $yellow;
          border-radius: 5px;
          border: none;
          padding: 13px 6px;
          width: 148px;

          a {
            color: black;
          }
        }
        .installment {
          margin-bottom: 10px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  body {
    background-color: #ffff;
    .container {
      margin-inline: 100px;
      background-color: #ffff;
      padding: 30px;
    }
  }
}
